.jumbotron {
    text-align: center;
    background-color: rgba(3, 48, 100, 0.411);
    min-height: 75px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

/* html, body {
    margin: 0;
    padding: 0;
    background: #555;
}
   */
#globe {
    cursor: move;  
}
  
#current {
    position: absolute;
    color: blue;
    font-family: sans-serif;
    margin-left: 4%;
    margin-top: 4%;
}
  