
<nav class="navbar navbar-default">
    
    <style>
        .navbar {
            margin-bottom: 0;
            background-color: rgb(59, 18, 18);
        }
    </style>
    
    <div class="navbar-header">
        
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color: white; background-color: rgb(59, 18, 18);">
            <span class="nav-color">World Happiness Report</span>
        </a>
        
        
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" style="color: white;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/3dvisualizations">3D Visualizaions</a></li>
                    <li><a href="/happinessMap">Happiness Map</a></li>
                    <li><a href="/rankings">Rankings</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</div>
</nav>