<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                    <div class="col-md-1"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-1"></div>
                            <a class="navbar-brand" href="index.html" style="color: white; background-color: teal;">
                                <span class="nav-color">World Happiness Report</span>
                            </a>
                    </div>
    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="templates/3dindex.html">3D Visualizaions</a></li>
                                        <li><a href="templates/map.html">Happiness Map</a></li>
                                        <li><a href="templates/rankings.html">rankings</a></li>
                                        
                                    </ul>
                            </li>
                            <!-- <li><a href="comparisons.html">Comparisons</a></li>
                            <li><a href="data.html">Data</a></li> -->
                        </ul>
                    </div>    
            </div>
    </div>
</nav>