<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>World Happiness Tour</title>

        <!-- Javascripts to be imported -->
        
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https:/unpkg.com/d3-3d/build/d3-3d.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
        <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
        <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
        <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

        <!-- <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/assets.css" type="text/css">
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        
    </head>

    <body>
    
        <div class = 'container-fluid'>
            
            <script src="../static/plot.js">
            console.log("I am at plot.js")
            </script>
        </div>       
        <!-- <script type="text/Javascript" src="{{ url_for('static', filename='js/maps.js') }}"></script>
        console.log("I am here")
        </script> -->
    
    <div class = "container-fluid">
        <footer>
            <p> @ Project 2 - World Hapiness Visualizaions</p>
        </footer>
    </div>

        <!-- <div id="chartdiv"></div>
        <script type="text/Javascript" src="{{ url_for('static', filename='js/world_map.js') }}"></script>
        console.log("Here is the world map!") -->
    
    </body>
</html>
